
:root{

}

header{
    position: relative;
    
}

.head{
    position: fixed;
    height: 100px;
    width: 100%;
    background-image: url(../nonfiction-img/bg_header-01.png);
    background-position: bottom;
    background-repeat: repeat-x;
    padding: 20px 0 10px 0;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.head>figure{
    width: 135px;
    height: 75.2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* left랑 transform기억하기 */
}

.nav-wrapper{
    display: flex;
    position: absolute;
    right: 0;
    margin: 0 50px;
}

.drop{
    padding-right: 10px;
}

header .drop::after{
    background-image: url(https://cdn.shopify.com/s/files/1/0575/6341/4580/files/left-arrow-svgrepo-com.svg?v=1647850513);
    position: absolute;
    top: 3px;
    right: 192px;
    content: '';
    width: 12px;
    height: 12px;
    transform:rotate(-90deg);
    
}

.nav-wrapper a{
    font-family: 'FGR';
    color: #000;
    /* font찾기 */
    padding-left: 40px;
    font-size: 18px;
}

.nav-wrapper a:hover{
    text-decoration: underline;
}

.category-wrap{
    /* position: absolute; */
    padding-top: 20px;
    left: 50px;
    position: fixed;
    /* absolute로 위치 주는 법 물어보기 */
    font-size: 18px;
}

.category{
    width: 190px;
    overflow: hidden;
    position: relative;
    
}

.category li{
    color: #000;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
    /* 테두리값 넓이에 포함 */
    cursor: pointer;
}

.submenu{
    transition-duration: 1s;
    height: 0;
    /* 마우스반응 있기 전에 보이면 안됨 */
    overflow: hidden;
    /* 높이만큼 보임 */
    padding-left: 20px;
    /* padding 줘서 공백 주는게 맞나요*/
}

.shop:hover .submenu-shop{
    height: 300px;
}

.about:hover .submenu-about{
    height: 135px;
}

.contact:hover .submenu-contact{
    height: 135px;
}

/* 각각 height가 달라서 다 따로줌 이래도 되나요*/

.category-title:hover .category-title{
    text-decoration: underline;
}
/* 이건 왜 안먹힐까요ㅠㅠ */

.category a:hover{
    text-decoration: underline;
}

/* transition 안먹혀요 홈페이지는 active사용했는데 그게 뭐에요? */

.category a{
    color: #000;
    text-transform: uppercase;

}

.category-wrap input{
    display: block;
    margin-top: 50px;
    border: 0;
    background-color: transparent;
    font-size: 18px;
    color: #000;
    /* 색깔 안바뀌어요ㅜㅜ 글씨치면 x아이콘 구려요*/
    border-bottom: 1px solid #000;
    
    
}

input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
  display: none; 
}

input::-ms-input-placeholder { 
    color: #000; 
}
/* // Internet Explorer 10 이상에 적용 */

input::-webkit-input-placeholder {
     color: #000;
     } 
/* //  Webkit, Blink, Edge에 적용 */

input::-moz-placeholder { 
    color: #000; 
}
/* // Mozilla Firefox에 적용 */

main{
    max-width: 990px;
    margin: 0 auto;
    padding-top: 240px;
    text-align: center;
}

#information figure{
    width: 920px;
    height: 613px;
    margin: 0 auto;
}

.launching{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

h3,h4{
    font-weight: 400;
}

.section-wrapper h3{
    font-size: 24px;
}

.section-wrapper p{
    font-size: 14px;
    padding-top: 50px;
}


.launching h4{
    font-size: 17px;
    padding-top: 16px;
    
}

iframe{
    width: 920px;
    height: 517px;
}

.forest-info{
    margin-top: 100px;
    margin-bottom: 100px;
}


#forest-perfume-info figure{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

#forest-perfume-info figure img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.forest-perfume-wrap{
    margin: 100px 0;
}

hr{
    width: 920px;
    height: 1px;
    background-color: #D6D6D6;
    border-style: none;
}


#collection{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    
    
}

#collection ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 0 45px;

}


#collection h3{
    padding-bottom: 60px;
    font-size: 24px;
}

.purchase{
    padding: 0 25px 45px 25px;
}

.purchase img{
    transition: 0.5s;
}

.purchase a:hover img{
   /* a를 키워서 아래 글씨까지 클릭 가능하게 할 수 있나요? */
    filter: blur(10px);
}

.purchase figure{
    width: 400px;
    height: 400px;
    overflow: hidden;

}

.purchase h2{
    padding-top: 40px;
    font-size: 17px;
    line-height: 2;
    
}

.purchase p{
    padding-bottom: 30px;
    font-size: 17px;
}

.purchase button{
    width: 400px;
    height: 43px;
    background-color: white;
    border: 1px solid #000;
    font-size: 14px;
    cursor: pointer;
}



.perfume30 img,.perfume100 img{
    width: 100%;
    max-height: 426px;
    /* 이런식으로 가운데 맞추는게 맞나요?ㅜㅜ알려주세요 */
    object-fit: cover;
}


#membership-benefit{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#membership-benefit h3{
    font-size: 24px;
    padding-bottom: 16px;
    
}


.membership-wrapper{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;   
}

.membership-wrapper figure{
    width: 300px;
    height: 300px;
    overflow: hidden;
    /* 사진이 규격보다 큰경우 히든해주고 보여주고 싶은부분 수정하려면 어떻게? */
}

.membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    /* height: 496px; */
    line-height: 1.6;
   
}

.membership p:first-of-type{
    font-size: 17px;
    margin-top: 60px;
}

.membership p:last-of-type{
    font-size: 14px;
    margin-top: 18px;
    height: 60px;
    /* box-sizing: border-box; */
    
}

.membership span{
    font-size: 12px;
    margin-top: 4px;
    
}
/* 60 18 */

.service-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.service-wrapper li{
    margin-left: 20px;
    /* 간격주고 싶어서 뗐는데 뭔가 이상.. */
}

.service-wrapper button{
    margin-top: 20px;
    width: 250px;
    height: 50px;
    align-content: center;
}