:root{
    --header-color:#424245;
}
header{
    height: 44px;
    width: 100%;
    background-color: var(--header-color);
    overflow: hidden;
    
    
}
header ul{
    padding-left: 22px;
    padding-right: 22px;
    margin: 0 auto;
}
header li{
    float: left;
    margin-top: 10px;
}


header span{
    color: white;
    font-size: 14px;
    margin: 15px;
}

figure{
    margin-top: -10px;
    margin-right: 10px;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}
